@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@layer {
    body {
        @apply bg-light;
    }
    .custom-border {
        @apply !border-[1px] !border-light;
    }
    .text-xxs {
        @apply text-[10px];
    }
}
